################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/bin/Debug
/obj
*.env
/RuilwinkelVaals.Tests/bin/Debug/net5.0
/RuilwinkelVaals.WebApp/wwwroot/img/storage/*
