@model RuilwinkelVaals.WebApp.Data.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Productregistratie</h1>

<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" ></div>
            <div>
                <label asp-for="Name" ></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" ></span>
            </div>
            <div>
                <label asp-for="Brand" ></label>
                <input asp-for="Brand" />
                <span asp-validation-for="Brand" ></span>
            </div>
            <div>
                <label asp-for="Description" ></label>
                <input asp-for="Description" />
                <span asp-validation-for="Description" ></span>
            </div>
            <div>
                <label asp-for="CategoryId" ></label>
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div>
                <label asp-for="ConditionId" ></label>
                <select asp-for="ConditionId" asp-items="ViewBag.ConditionId"></select>
            </div>
            <div>
                <label asp-for="StatusId" ></label>
                <select asp-for="StatusId" asp-items="ViewBag.StatusId"></select>
            </div>
            <div>
                <label asp-for="CreditValue" ></label>
                <input asp-for="CreditValue" />
                <span asp-validation-for="CreditValue" ></span>
            </div>
            <div>
                <input type="submit" value="Product toevoegen" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
