@model RuilwinkelVaals.WebApp.ViewModels.Products.ProductCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Productregistratie</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class ="form-control"/>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class ="form-control"/>
                    <span asp-validation-for="Brand"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class ="form-control"/>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class ="form-control" asp-items="Model.Categories"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ConditionId" class="control-label"></label>
                    <select asp-for="ConditionId" class ="form-control" asp-items="Model.Conditions"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StatusId" class="control-label"></label>
                    <select asp-for="StatusId" class ="form-control" asp-items="Model.Statusses"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CreditValue" class="control-label"></label>
                    <input asp-for="CreditValue" class ="form-control"/>
                    <span asp-validation-for="CreditValue"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="Image" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Kies een foto</label>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Product toevoegen" />
                </div>
            </form>
        </div>
    </div>

    <div style="position: relative;">
        <a asp-action="Index">Terug naar overzicht</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
}

