@model RuilwinkelVaals.WebApp.Data.Models.UserData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <partial name="_UserInfo" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Wijzigen</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
