@{ ViewData["Title"] = "Home"; }

<div class="text-left">
    <h1>Hoe werkt het?</h1>
    <h3>1: Deelname</h3>
    <ul>
        <li>Deelnemen is gratis.</li>
        <li>Inschrijven kan vanaf 16 jaar, op vertoon van een geldig legitimatiebewijs.</li>
        <li>Je vult een inschrijvingsformulier in aan de balie en ondertekent dit.</li>
        <li>Met het ondertekenen accepteer je de ruilregels van Ruilwinkel Vaals en ga je akkoord met het registreren van de informatie die nodig is voor de administratie.</li>
        <li>Persoonlijke gegevens worden nooit aan derden gegeven of met derden gedeeld.</li>
        <li>Op het formulier wordt je lidnummer vermeld. Het lidnummer is belangrijk bij de inname of uitgifte van goederen en bij je dienstenaanbod.</li>
        <li>Na inschrijving ontvang je 5 punten, die je direct kunt gebruiken.</li>
    </ul>
    <h3>2: Ledenpas</h3>
    <ul>
        <li>Bij inschrijving ontvang je een pasje met je lidnummer, de pas is persoonsgebonden.</li>
        <li>Je toont altijd je pas bij het inleveren en/of meenemen van goederen. Zo worden de punten geregistreerd in het administratiesysteem.</li>
        <li>Verlies van je pas geef je direct door aan de Ruilwinkel. Een nieuwe pas kost € 2,50.</li>
        <li>Na inschrijving wordt de ledenpas klaar gemaakt. U heeft 2 maanden de tijd om deze pas op te halen. Na 2 maanden vervalt de inschrijving en het aantal punten automatisch.</li>
    </ul>
    <h3>3: Inleveren goederen</h3>
    <h4>A: Goederen</h4>
    <ul>
        <li>Ieder lid kan tijdens openingstijden goederen inleveren tot een half uur voor sluitingstijd.</li>
        <li>Ieder lid kan per bezoek maximaal 15 stuks/goederen inleveren en mag maximaal 15 stuks/goederen meenemen.</li>
        <li>De vrijwilligers van de Ruilwinkel bepalen het aantal punten aan de hand van de puntenlijst.</li>
        <li>Als het artikel niet op de puntenlijst staat, bepaalt de vrijwilliger hoeveel punten je krijgt.</li>
        <li>Ingeleverde kleding is schoon, heel en passend bij het seizoen.</li>
        <li>Ingeleverde goederen zijn schoon, heel, compleet, werkend en bruikbaar.</li>
        <li>In de maanden maart en september nemen wij i.v.m. seizoenwissel alléén seizoenkleding aan als donatie. In de maand maart is dit winterkleding en in de maand september is dit zomerkleding. De Ruilwinkel Vaals bepaald naar welk doel dit gaat.</li>
        <li>Een overschot aan goederen wordt geschonken aan goede doelen. De Ruilwinkel Vaals bepaalt naar welk doel de overtollige goederen gaan.</li>
        <li>Ingeleverde goederen en kleding kunnen geweigerd worden, wanneer:</li>
        <ul>
            <li>Er te veel aanbod is van een bepaald artikel;</li>
            <li>Het niet het juiste seizoen is voor een bepaald artikel;</li>
            <li>Uit ervaring blijkt dat er geen vraag is naar een bepaalde artikel;</li>
            <li>Het niet schoon, kapot, incompleet, niet werkt of te oud is.</li>
            <li>Kijk in de winkel, hier op de website en facebookpagina welke goederen dit zijn.</li>
        </ul>
        Glazen en servies worden alleen per setje van 2 ingenomen. Meerdere setjes inleveren is mogelijk (dus 4 stuks, 6 stuks etc.).
        Enkele stuks glaswerk of servies wordt door de vrijwilliger beoordeeld en eventueel wel ingenomen.
        De goederen die de vrijwilliger niet inneemt, neem je weer mee. Niet ingenomen goederen worden niet door de Ruilwinkel verwijderd.
        De vrijwilligers bepalen wanneer ingebrachte goederen in de winkel worden gezet.
        De vrijwilligers bepalen wanneer ingebrachte goederen uit de winkel worden gehaald.
        De Ruilwinkel bepaalt waar verwijderde goederen naar toe gaan.
        <li>Er worden bepaalde goederen nooit ingenomen:</li>
        <ul>
            <li>Videorecorders en videobanden</li>
            <li>Cassettebandjes en cassetterecorders</li>
            <li>Gekopieerde DVD/CD/games</li>
            <li>Cosmetica</li>
            <li>Ondergoed/nachtkleding/sokken/badjassen volwassenen</li>
            <li>Ondergoed/sokken/badjassen kinderen</li>
            <li>Gordijnen</li>
            <li>Kleine decoraties/kleine plastic voorwerpen</li>
            <li>Gestolen goederen</li>
        </ul>
        <li>Fietsen worden geregistreerd.</li>
        <li>Bij twijfel wordt aangifte gedaan bij de politie.</li>
    </ul>
    <h4>B: Grote goederen</h4>
    <ul>
        <li>Grote goederen (denk aan eettafels, kasten, witgoed, banken, bedden) kunnen, met foto in een klapper worden gestopt bij de ontmoetingstafel. U kunt dit afgeven bij vrijwilliger/coördinator.</li>
        <li>Vermeld hierbij je lidnummer en het gevraagde aantal punten. Je kunt ook contactgegevens vermelden.</li>
        <li>Als je niet je contactgegevens vermeldt, krijg je via de vrijwilligers van de Ruilwinkel bericht als een ander lid interesse heeft.</li>
        <li>De goederen worden 3 maanden aangeboden via de klapper in de winkel, daarna wordt de informatie verwijderd.</li>
    </ul>
    <h3>4: Puntentelling/administratie</h3>
    <ul>
        <li>Van de ingeleverde goederen bepaalt de Ruilwinkel de waarde aan de hand van de puntenlijst.</li>
        <li>De punten voor ingeleverde goederen worden bijgeschreven op je ruilrekening. De goederen zijn daarmee eigendom van de Ruilwinkel.</li>
        <li>Het aantal punten dat je als lid krijgt bij het inleveren van goederen of diensten wordt geregistreerd in de administratie.</li>
        <li>Je kunt je puntensaldo bekijken via de website of opvragen bij de uitgiftebalie.</li>
        <li>Punten zijn niet overdraagbaar en niet inwisselbaar voor geld.</li>
        <li>Het maximaal toegestane aantal punten op je ruilrekening is 125.</li>
        <li>Lever je goederen aan en is het puntensaldo 125, dan worden de punten van de nieuwe goederen gedoneerd.</li>
    </ul>
    <h3>5: Uitgifte</h3>
    <ul>
        <li>Het aantal punten van goederen die je meeneemt of diensten die je afneemt, wordt geregistreerd in de administratie.</li>
        <li>Als je goederen meeneemt, laat de sticker op of aan het artikel zitten.</li>
        <li>Als thuis blijkt dat een apparaat defect is of een artikel niet compleet is, kun je het binnen 7 dagen terugbrengen of omruilen. Bij terugbrengen worden de reeds afgeschreven punten weer bijgeschreven.</li>
        <li>Reserveren van goederen is niet mogelijk.</li>
        <li>Rood staan kan niet in de Ruilwinkel. Als je geen of te weinig punten hebt op je ruilrekening, kun je geen goederen meenemen en geen diensten afnemen.</li>
    </ul>
    <h3>6: Dienstenruil</h3>
    <ul>
        <li>Ruilwinkel Vaals bemiddelt bij het aanbieden en afnemen van diensten.</li>
        <li>Je kunt een dienst aanbieden of vragen. Een vrijwilliger/coördinator helpt jou hierbij. Zet hierbij ook je lidnummer en het aantal gevraagde punten.</li>
        <li>Contact tussen vrager en aanbieder van een dienst wordt gelegd door vrijwilligers/coördinator van de Ruilwinkel.</li>
        <li>Vrager en aanbieder zijn samen verantwoordelijk voor het nakomen van de gemaakte afspraken. De Ruilwinkel is niet verantwoordelijk voor de afspraken en kan nooit aansprakelijk worden gesteld.</li>
        <li>Als de dienst is verleend, tekenen vrager en aanbieder een ruilbewijs, met daarop het aantal punten dat verrekend moet worden. Dit wordt in de administratie verwerkt.</li>
        <li>Diensten regelen buiten de Ruilwinkel om zijn op eigen verantwoording. Hier worden geen punten voor gegeven.</li>
        <li>Als een lid zich niet houdt aan gemaakte afspraken of op een andere manier zich niet correct gedraagt, bemiddelt de Ruilwinkel niet meer voor dit lid.</li>
    </ul>
    <h3>7: Afmelden als deelnemer</h3>
    <ul>
        <li>Afmelden als lid doe je één maand van tevoren via een e-mail aan info@ruilwinkelvaals.nl of persoonlijk bij de coördinator in de Ruilwinkel. Je levert ook je pas in.</li>
        <li>Na afmelding heb je een maand om de punten op je ruilrekening op te maken aan goederen/diensten.</li>
        <li>Als na deze maand nog punten staan op je ruilrekening, vervallen deze.</li>
    </ul>
    <h3>8: Beëindigen van deelname</h3>
    <p>Redenen voor de Ruilwinkel om je deelname te beëindigen zijn:</p>
    <ul>
        <li>Wanneer je je niet houdt aan de ruilregels of je niet correct gedraagt.</li>
        <li>Wanneer je gestolen goederen aanbiedt.</li>
        <li>Wanneer je geld vraagt voor diensten en/of goederen, die via de Ruilwinkel worden aangeboden.</li>
        <li>Wanneer je goederen uit de Ruilwinkel verhandelt of doorverkoopt.</li>
        <li>Bij diefstal uit de Ruilwinkel.</li>
    </ul>
    <h3>9: Overig</h3>
    <ul>
        <li>Jonger de 12 jaar, heb je alleen toegang in het bijzijn van een volwassene.</li>
        <li>Door inschrijving als lid van Ruilwinkel Vaals verklaar je dat je deze huisregels gezien, begrepen en geaccepteerd hebt.</li>
        <li>De ruilregels kunnen tussentijds veranderen. De laatste versie vind je altijd terug in de winkel en op de website. Je kunt geen aanspraken maken op eerdere ruilregels.</li>
    </ul>

    <p>Versie 1 juli 2020.</p>

</div>
