* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    background-color: rgb(58,29,75);
    color: rgb(255 255 255);
}

form{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 600px;
}

input select{
    border-radius: 5px;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(255,255,255);
    font-size: 16px;
    width: 300px;
}

label{
    font-size: 16px;
    text-align: left;
}

h1 {

}

h2 {

}

h3 {

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}

p {
    font-size: calc(10px + 2vmin);
}

header {
    background-color: rgb(199, 189, 216);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}

nav {
    float: unset;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 25px;
    position: relative;
}

.nav-link {
    color: dimgrey;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:hover {
    color: rgb(58, 29, 75);
}

.nav-link::before {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: rgb(58, 29, 75);
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

.nav-link:hover::before {
    width: 100%;
}

footer {
    background-color: rgb(199, 189, 216);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer h3, footer p {
    text-align: left;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#cursive {
    font-style: italic;
}

#table-header {
    background-color: rgb(199, 189, 216);
    color: black;
    border: 1px solid grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold
}

#table-entry {
    background-color: rgb(199, 189, 216);
    color: black;
    border: 1px solid grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
