@using Microsoft.AspNetCore.Identity
@using RuilwinkelVaals.WebApp.Data.Models

@inject SignInManager<UserData> SignInManager
@inject UserManager<UserData> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RuilwinkelVaals.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <partial name="_Favicons" />
</head>
<body>
    <!-- Header -->
    <header>

        @*<img src="~/img/logo.png" alt="Logo" height="140" width="200" />
            <p>Ruilwinkel Vaals</p>
            <p id="cursive">ruilen - samenwerken - leren - ontmoeten</p>*@

        <!-- Responsive Menu -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navigation (Add pages here!)-->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-link"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-link"><a class="nav-link" asp-controller="Products" asp-action="Index">Inventaris</a></li>
                        }
                        @if (User.IsInRole("Medewerker") || User.IsInRole("Admin"))
                        {
                            <li class="nav-link"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registreren</a></li>
                            <li class="nav-link"><a class="nav-link" asp-controller="LoanedProducts" asp-action="Index">Ruilen</a></li>
                            
                        }
                        @if (User.IsInRole("Admin") )
                        {
                            <li class="nav-link"><a class="nav-link" asp-controller="Users" asp-action="Index">Gebruikers</a></li>
                            <li class="nav-link"><a class="nav-link" asp-controller="Categories" asp-action="Index">Categories</a></li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>

    <!-- Main Page content -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            @*<h3>Contact</h3>
                <b>Adres: </b> Kerkstraat 46, Vaals
                <br />
                <b>Tel: </b> +31 6 20 74 98 86
                <h5>Openingstijden:</h5>
                <ul>
                    <li>Dinsdag 10.00-14.00</li>
                    <li>Woensdag 12.00-16.00</li>
                    <li>Donderdag 10.00-14.00</li>
                    <li>Elke eerste zaterdag van de maand 11.00-15.00</li>
                </ul>*@
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
