<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RuilwinkelVaals.WebApp</title>
    <link rel="stylesheet" href="~/css/custom.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
    <partial name="_Favicons" />
</head>
<body>
    <!-- Header -->
    <header>
        <img src="~/img/logo.png" alt="Logo" height="140" width="200" />
        <p>Ruilwinkel Vaals</p>
        <p id="cursive">ruilen - samenwerken - leren - ontmoeten</p>

        <nav> <!-- Navigation (Add pages here!)-->
            <ul>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="" asp-action="">Productregistratie</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="" asp-action="">Retourneren</a></li>
                <li class="nav-link"><a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Gebruikers</a></li> @*TODO: Add authorization*@
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <h3>Contact</h3>
        <b>Adres: </b> Kerkstraat 46, Vaals
        <br />
        <b>Tel: </b> +31 6 20 74 98 86
        <h5>Openingstijden:</h5>
        <ul>
            <li>Dinsdag 10.00-14.00</li>
            <li>Woensdag 12.00-16.00</li>
            <li>Donderdag 10.00-14.00</li>
            <li>Elke eerste zaterdag van de maand 11.00-15.00</li>
        </ul>           
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
